* {
  margin: 0;
  padding: 0;
}

/* MENU */

#signupback a {
  color: #263238;
  font-size: 120%;
}

#signupback a:hover {
  text-decoration: underline;
}

nav .mobilenav {
  display: none;
}

nav .mobilenav span {
  float: right;
  color: #1b72d8;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: #1b73d8f6;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  color: #f7f7f7;
  display: block;
  transition: 0.4s all;
  font-size: 120%;
}

.overlay a button {
  margin-top: 5rem;
  filter: none;
  color: #1b72d8;
  background-color: white;
}

.overlay a:hover,
.overlay a:focus {
  color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 60px;
  color: #f7f7f7;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

/* * {
  outline: 1px solid red;
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(to top, #1c427c, #183b85); */
  background-color: #1b72d8;
}

.container {
  width: 70%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button a:hover {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  background: #fcfcfc no-repeat fixed center;
}

ul {
  list-style-type: none;
  margin: 0 auto;
}

li {
  display: inline-block;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

li:nth-last-of-type(1) {
  margin-right: 0;
  float: right;
  vertical-align: middle;
}

.logo {
  vertical-align: middle;
}

li a {
  font-size: 100%;
  font-weight: 300;
  text-decoration: none;
  color: #606060;
  font-weight: 100;
  vertical-align: middle;
}

li a:hover {
  color: #1b72d8;
  border-bottom: 1px solid #1b72d8;
}

.createaccount a:hover {
  border: none;
}

li .active {
  color: #1b72d8;
  border-bottom: 1px solid #1b72d8;
}

nav ul {
  margin-top: 2.5rem;
}

.logo {
  width: 9rem;
  margin-right: 1.5rem;
}

nav .login a {
  color: #1b72d8;
  margin-right: 0rem;
  font-weight: 400;
}

mark {
  background: none;
  color: #1b72d8;
}

button {
  font-size: 110%;
  color: #fcfcfc;
  font-family: "Poppins";
  font-weight: 300;
  background-color: #1b72d8;
  /* background-image: linear-gradient(to left, #26578f, #4c7aaf); */
  border: none;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem darkgrey);
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  transition: 0.2s all;
  text-decoration: none;
}

nav .createaccount button {
  font-size: 90%;
  color: #fcfcfc;
  font-family: "Poppins";
  font-weight: 300;
  background-color: #1b72d8;
  /* background-image: linear-gradient(to left, #26578f, #406fa6); */
  margin-left: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: none;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem darkgrey);
}

button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.hero img {
  width: 30rem;
  float: right;
}

.hero button {
  margin-top: 2rem;
}
h1 {
  font-size: 300%;
  line-height: 110%;
  border: none;
}

h2 {
  font-weight: bold;
  color: #9e9e9e;
  letter-spacing: 0.15rem;
  font-size: 110%;
  margin-bottom: 1rem;
}

p {
  margin-top: 1.5rem;
  color: #606060;
}

.howitworks {
  color: #fcfcfc;
  background-color: #1b72d8;
  /* background-image: linear-gradient(to right, #1b72d8, #1b7dd8); */
  margin-bottom: 10rem;
}

.howitworks div {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.howitworks .title {
  display: flex;
  justify-content: center;
}

.howitworks section {
  border-radius: 8px;
  background-color: #257ee4;
  /* background-image: linear-gradient(to right, rgb(3, 3, 3), rgb(31, 31, 31)); */
  /* padding: 2rem; */
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.164));
  margin: 1.2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.howitworks section:nth-child(1) {
  margin-left: 0;
}

.howitworks section:nth-child(3) {
  margin-right: 0;
}

.howitworks h3 {
  color: #1b72d8;
  font-weight: bold;
  letter-spacing: 0.15rem;
  font-size: 130%;
  text-align: center;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #fcfcfc;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: inline-block;
}

.howitworks h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  font-size: 120%;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  background-color: #257ee4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1rem;
  color: white;
  text-align: center;
}

.howitworks p {
  text-align: left;
  color: #fcfcfc;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.subhero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  margin-bottom: 10rem;
}

.subhero button {
  margin-top: 2rem;
}

.subhero p {
  margin-bottom: 0;
}

.subhero img {
  width: 30rem;
}

.treeofsuccess {
  background-color: #1b72d8;
  background-image: linear-gradient(to right, #1b72d8, #1b72d8);
  margin-top: 0;
  margin-bottom: 10rem;
}

.treeofsuccess div {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5rem;
}

.treeofsuccess section {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.treeofsuccess h1 {
  color: #fcfcfc;
}

.treeofsuccess p {
  color: #fcfcfc;
}

.treeofsuccess button {
  margin-top: 2rem;
  background-color: #272727;
  /* background-image: linear-gradient(to right, rgb(3, 3, 3), rgb(39, 39, 39)); */
  filter: none;
}

.treeofsuccess h3 {
  color: #1b72d8;
  font-weight: bold;
  letter-spacing: 0.15rem;
  font-size: 130%;
  text-align: center;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #fcfcfc;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: inline-block;
}

.treeofsuccess .title {
  display: flex;
  justify-content: center;
}

.treeofsuccess img {
  width: 35rem;
}

.treeofsuccess mark {
  color: #272727;
}

footer {
  overflow-x: hidden;
  background-color: #161616;
}

footer article {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

footer p {
  color: #c4c4c4;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: lighter;
}

footer h4 {
  font-size: 110%;
  margin-bottom: 2rem;
  color: #fcfcfc;
}

/* HEROPSY MAAR EIGENLIJK VOOR FAQ SECTION */

.heropsy section:first-of-type {
  border-right: none;
  padding-right: 6rem;
  padding-left: 0;
}

.heropsy {
  margin-bottom: 8rem;
}

.heropsy p {
  margin-left: 6rem;
}

/* ************** */
/* THE PSYCHOLOGY */
/* ************** */

.thepsychology-banner-article {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 12px;
  background-color: white;
  filter: drop-shadow(0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.075));
}

.thepsychology-banner-article-text {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

.thepsychology-banner-article-text h3 {
  font-size: 100%;
  color: #9cb7d4;
}
.thepsychology-banner-article-text h1 {
  font-size: 160%;
  color: #363633;
}
.thepsychology-banner-article-text p {
  color: #363633;
}

.thepsychology-banner-article-image {
  width: 100%;
  margin: 0;
  border-radius: 12px;
}

.thepsychology-banner-article-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thepsychology-banner-article-image-wrapper {
  margin: 1.5rem;
}

.articles p {
  margin: 0;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  margin-bottom: 4rem;
}

.article {
  background-color: white;
  filter: drop-shadow(0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.075));
  border-radius: 12px;
  transition: 0.2s all;
}

.article-image {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

.article-body {
  margin: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.article-body .article-text .article-h1 {
  font-size: 140%;
  color: #494949;
  margin-bottom: 0.5em;
}

.article-p {
  color: #7e7e7e;
  font-size: 85%;
  margin-bottom: 0.2rem;
}

.article-time .article-minutes {
  color: #7e7e7e;
  font-size: 70%;
  display: inline;
}

.article-time {
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.article-body .article-time img {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 0.4rem;
}

.article-read {
  margin-top: 1rem;
  transition: 0.2s all;
}

.article-read a {
  font-size: 80%;
  color: black;
}

.article-button {
  margin-top: 1.5rem;
  background-color: transparent;
  font-size: 85%;
  filter: none;
  background-color: #f7f7f7;
  color: black;
}

/* ************** */
/* FAQ FINDER */
/* ************** */

/* *,
::before,
::after {
  box-sizing: border-box;
} */

.answers h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.answers p {
  text-align: center;
}

details {
  margin: 1rem auto;
  padding: 0 1rem;
  width: 35em;
  max-width: calc(100% - 2rem);
  position: relative;
  border-radius: 3px;
  background-color: #1b72d8;
  color: white;
  transition: 0.2s all;
}

details:hover {
  /* transform: scale(1.01); */
  box-shadow: 0.1rem 0.1rem 0.4rem #00000044;
}

details > :last-child {
  margin-bottom: 1rem;
}

details::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: 0.15;
  box-shadow: 0 0.25em 0.5em #263238;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: -1;
}

details[open] {
  background-color: #1b72d8;
  margin-bottom: 2rem;
  margin-top: 2rem;
  transform: scale(1.05);
}
details[open]::before {
  opacity: 0.6;
}

summary {
  font-size: 110%;
  padding: 1rem 2em 1rem 0;
  display: block;
  position: relative;
  cursor: pointer;
}
summary::before,
summary::after {
  width: 0.75em;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  background-color: currentColor;
  text-align: right;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;
}

summary::after {
  transform: translateY(-50%) rotate(90deg);
}
summary::after[open] {
  transform: translateY(-50%) rotate(180deg);
}

summary::-webkit-details-marker {
  display: none;
}

details p {
  margin: 0 0 1em;
  line-height: 1.5;
  color: rgb(212, 226, 245);
}

details h3 {
  margin-bottom: 1.5rem;
  color: white;
  font-weight: normal;
  display: inline;
}

details .details-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem;
  padding-bottom: 2rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

details .details-wrapper .details-card {
  padding: 1rem;
  background-color: #2e88ee;
  border-radius: 5px;
  /* width: 20rem;
  height: 7rem; */
  overflow: hidden;
}

details .details-wrapper .details-card button {
  color: white;
  background-color: #1b72d8;
  filter: none;
  border-radius: 5px;
  display: inline;
  float: right;
}

.answers {
  margin-bottom: 6rem;
}

/* 
App */

.applogo {
  display: block;
  margin: 0 auto;
  margin-top: 10rem;
  width: 15rem;
}

/* FAQ ITEMS */

.faq-item {
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.048));
  padding: 6rem;
  margin-top: 1rem;
  margin-bottom: 8rem;
}

.faq-item h1 {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.faq-item h2 {
  color: #1b72d8;
  margin-top: 5rem;
  font-size: 125%;
}

.faq-item h5 {
  margin-top: 2rem;
}

.faq-item p {
  margin-top: 0.5rem;
}

/* ************** */
/* MEDIA QUERIES */
/* ************** */

@media only screen and (max-width: 1700px) {
  .signup form input[type="submit"] {
    width: 100%;
    margin: 0;
  }

  .signup form {
    width: 120%;
  }

  .treeofsuccess div {
    grid-template-columns: 1fr;
  }

  .treeofsuccess img {
    display: none;
  }

  .treeofsuccess section {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }

  .howitworks div {
    width: 90%;
  }

  .treeofsuccess div {
    width: 90%;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 95%;
  }

  .howitworks div {
    width: 95%;
  }

  .treeofsuccess div {
    width: 95%;
  }

  footer article {
    width: 85%;
  }

  .signup .formsection {
    padding: 0;
    margin-right: 4rem;
  }

  .signup form {
    width: 100%;
  }
}
/* mobile */

@media only screen and (max-width: 1000px) {
  details .details-wrapper .details-card button {
    display: block;
    float: left;
  }

  details h3 {
    display: block;
  }
  /* faq item */

  #signupback a {
    color: #263238;
    font-size: 150%;
  }

  .faq-item {
    padding: 3rem;
  }
  .faq-item {
    margin-bottom: 3.5rem;
  }

  /* blog */

  .articles {
    grid-template-columns: 1fr;
  }

  .thepsychology-banner-article {
    display: none;
  }

  /* nav */

  nav .mobilenav {
    display: block;
    margin-top: 1rem;
  }

  nav .desktopnav {
    display: none;
  }

  nav .mobilenav a .logo {
    margin-top: 0.25em;
  }

  h1 {
    font-size: 185%;
  }

  h2 {
    font-size: 90%;
  }

  p {
    font-size: 85%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .treeofsuccess div section p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .subhero section p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .hero section p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .container {
    width: 55%;
  }

  .treeofsuccess div {
    width: 55%;
  }

  .howitworks section:nth-child(1) {
    margin-left: 1.5rem;
  }
  .howitworks section:nth-child(3) {
    margin-right: 1.5rem;
  }
  button {
    margin: 0 auto;
    display: block;
  }

  footer article {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  footer article:nth-last-child(1) {
    margin-bottom: 3rem;
  }

  footer article p {
    text-align: center;
  }

  footer article h4 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 3rem;
  }

  .treeofsuccess div {
    width: 85%;
  }

  .hero {
    grid-template-columns: 1fr;
    margin-right: 0rem;
    margin-bottom: 2rem;
  }

  .hero img {
    float: none;
    display: block;
    margin: auto;
    width: 20rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
  }

  .hero h1 {
    text-align: center;
  }

  .hero h2 {
    text-align: center;
  }

  .hero p {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .hero button {
    display: block;
    margin: auto;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .howitworks {
    margin-bottom: 4rem;
  }

  .howitworks div {
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 70%;
    margin-top: 3rem;
    padding-bottom: 3rem;
  }

  .howitworks .title {
    margin-top: 0;
  }

  .howitworks section {
    margin: 1.5rem;
  }

  .subhero img {
    float: none;
    display: block;
    margin: auto;
    width: 20rem;
    margin-bottom: 3rem;
  }

  .subhero p {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .subhero {
    grid-template-columns: 1fr;
  }

  .treeofsuccess {
    margin-bottom: 4rem;
  }

  .treeofsuccess p {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  nav ul li a {
    color: #414141;
  }

  .hero {
    margin-top: 5rem;
  }

  .heropsy section:first-of-type {
    border-right: none;
    padding-right: 0rem;
    padding-left: 0;
  }

  .heropsy section p {
    margin-left: 0;
  }

  .articles .article button {
    margin: none;
    display: inline;
  }

  .articles .article-row-of-3 {
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
  }
}

@media only screen and (max-width: 750px) {
  .hero section figure img {
    width: 60%;
  }

  .subhero section figure img {
    width: 60%;
  }

  .faq-item {
    padding: 1.5rem;
  }

  .container {
    width: 85%;
  }

  .articles .article-row-of-2 {
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
  }

  .hero {
    margin-bottom: 3rem;
  }

  .subhero {
    margin-bottom: 6rem;
  }

  .answers details .details-wrapper {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .hero section figure img {
    width: 85%;
  }

  .subhero section figure img {
    width: 85%;
  }

  footer article section h4 {
    text-align: left;
  }

  footer article section p {
    text-align: left;
  }

  .hero {
    margin-top: 4rem;
  }

  .applogo {
    width: 10rem;
  }
}

@media only screen and (max-width: 450px) {
  .hero section figure img {
    width: 95%;
  }

  .subhero section figure img {
    width: 95%;
  }

  button {
    width: 60%;
    height: 55px;
    font-size: 100%;
  }

  .container {
    width: 90%;
  }

  .howitworks div {
    width: 95%;
  }

  .treeofsuccess div {
    width: 90%;
  }

  footer article {
    width: 85%;
  }
}
