* {
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    color: grey;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#26578F, #26578F);
}

body {
    width: 75%;
    margin: 0 auto;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background:white no-repeat fixed center;
}

ul {
    list-style-type: none;
    margin: 0 auto;
}

li {
    display: inline-block;
    margin-left: 1.5em;
    margin-right: 1.5em;

}





li:last-of-type,li:nth-last-of-type(2) {
    margin-right: 0;
    float: right;
}

ul img {
    vertical-align: middle;
}

li a {
    font-size: 100%;
    font-weight: 300;
    text-decoration: none;
    color: #606060;
    font-weight: 100;
    vertical-align: middle;
}

li a:hover{
    color: #26578F;
    border-bottom: 1px solid #26578F;
}

li .active {
    color: #4560A5;
    border-bottom: 1px solid #26578F;
}


nav ul{
    margin-top: 2rem;
}

nav img {
    width: 10rem;

}


nav .login a{
    color: #3E6B94;
    margin-right: 0rem;
}

nav .createaccount button {
    color:white;
    font-family: 'Poppins';
    font-weight: 300;
    background-image: linear-gradient(to left, #26578F, #406FA6);
    margin-left: 0;
    padding:10px;
    padding-left:25px;
    padding-right: 25px;
    border-radius:1000px;
    
    border:none;
    filter: drop-shadow(0.1rem .1rem 0.4rem darkgrey);
}

mark {
    background:none;
    color: #26578F;
}

button {
    color:white;
    font-family: 'Poppins';
    font-weight: 300;
    background-image: linear-gradient(to left, #26578F, #406FA6);
    border:none;
    filter: drop-shadow(0.2rem .2rem 0.2rem darkgrey);
    padding:10px;
    padding-left:25px;
    padding-right: 25px;
    border-radius:1000px;
    transition: 0.2s all;
}

.hero button {
    margin-top:2rem;
}

button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.hero img {
    width: 70%;
    float:right;
}

h1 {
    font-size: 300%;
    line-height: 100%;
}

h2 {
    font-weight: bold;
    color: #9E9E9E;
    letter-spacing: 0.15rem;
    font-size: 110%;
}

p {
    margin-top: 2rem;
    color:#606060;
}

.howitworks {
    color: white;
    background-image: linear-gradient(to left, #26578F, #406FA6);
}

.howitworks div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.howitworks section {
    margin: 5rem;
    margin-top: 5rem;
}

.howitworks h3 {
    color: #3E6B94;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 150%;
    text-align: center;
    padding: 1.5rem;
    background-color: #FFFFFF;
    border-bottom-right-radius: 8px;
    display: inline-block;
}

.howitworks h4 {
    font-size: 120%;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    color: #ECECEC;
    text-align: center;
}

.howitworks p {
    text-align: center;
    color: #D7DDE8;
    font-weight: normal;
}
